//Ahora aprovechemos el bucle for para repasar pseudoselectores. Vamos a dar color alterno a la lista de la compra. También repasaremos las condiciones.
/// Estilos para la lista de la compra. Genera estilos para elementos pares e impares.
/// @group Estilos
.listaCompra{
    @for $i from 1 through 10 { //Un bucle de 1 a 10.

        li:nth-child(#{$i}){
            @if $i%2 == 0{
                color: rgb(116, 182, 96);
            }@else{
                color: red;
            }
        }

    }
}