/// Mixin para usar de manera recurrente el centrado de los elementos.
/// @output 'margin' centrado
/// @group Mixins
@mixin centrado{ //No es necesario para la primera tarea pero es algo realmente potente de esta herramienta
    margin: 0 auto;
}

//Aumentamos nuestro CSS para añadir y aprender estructuras de control.
/// Mixin para usar de manera recurrente y dar estilo a distintas imágenes
/// @param {Number} $size - Tamaño de la imagen
/// @param {String} $avatar - Tipo de la imagen. Por defecto false.
/// @output 'border y border-radius' De un color u otro dependiendo del tipo de la imagen y con borde redondo si es un avatar.
/// @group Mixins
@mixin image($size, $avatar: false){
    width: $size;
    height: $size;
    @if $avatar == "true" { //Así realizo una condición. Solo en caso de que el elemento sea un avatar, es cuando le añado un radio.
        border-radius: math.div($size, 2);
    } @else if $avatar == "icon" {
        border: solid 1px white;
    }else{
        border: solid 5px $general-color;
    }
}